.features {
  padding: 96px 0;
}
.features-ul {
  display: block;
  gap: 72px 24px;
  margin: 0 auto;
}
.features-li {
  margin-bottom: 72px;
  width: 386px;
}
.features-li:last-child {
  margin-bottom: 0;
}
.features-subheading {
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.features-icon {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;

  padding: 24px 100px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .features-ul {
    display: flex;
    flex-wrap: wrap;
  }
  .features-li {
    flex-basis: calc((100% - 24px * 1) / 2);

    margin: 0;
  }
  .features-subheading {
    margin-bottom: 8px;
    text-align: start;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .features-icon {
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;

    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: #f4f4fd;
  }
}

@media screen and (min-width: 1158px) {
  .features-subheading {
    margin-bottom: 8px;

    background-color: #ffffff;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }
  .features {
    padding-bottom: 0;
  }
  .features-ul {
    display: flex;
  }
  .features-ul:last-child {
    padding-left: 0;
  }
  .features-li {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;

    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: #f4f4fd;
  }
}
