.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.studio-footer {
  color: #f4f4fd;
}
.link.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  background-color: #2e2f42;
  color: #f4f4fd;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-logo:hover {
  color: #4d5ae5;
}
.footer-logo:focus {
  color: #4d5ae5;
}
.footer-text {
  color: #ffffff;
  width: 264px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-svg {
  fill: #f4f4fd;
}
.footer-div {
  display: inline-block;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
  max-width: 1158px;
  margin: auto;
  padding: 0 15px;
}
.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  width: 264px;
  height: 40px;

  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-label {
  /* gap: 24px; */
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  min-width: 165px;
  height: 40px;
}
.footer-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.modal-footer {
}
