:root {
  --primary-color: #434455;
  --tittle-test-color: #2e2f42;
  --hover-focus-color: #5358bd;
  --acent-color: #4d5ae5;
  --alternative-text-color: #f4f4fd;
  --white-text: #ffffff;
  --buttons-hover: #404bbf;
  --buttons-bg-color: #f4f4fd;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================ COMMON ================ */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* ================ HEADER ================ */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
  padding: 24px 0;

  margin-right: 76px;

  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo:hover {
  cursor: pointer;
  color: #4d5ae5;
}
.logo:focus {
  color: #4d5ae5;
}
.studio {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  transition: background-color 0.15s, color 0.15s;
  color: #2e2f42;
}
/* ==================================== */
.current::after {
  position: absolute;
  content: "";

  bottom: -1px;
  left: 0;
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
/* .header-item {
  position: relative;
} */
.nav {
  display: flex;
  align-items: center;
}

.nav-ul,
.address-ul {
  display: flex;
  gap: 40px;
}

/* ==================================== */
.address {
  display: flex;
  font-style: normal;
}
/* ==================================== */
.address-li {
  display: inline-block;
  padding: 24px 0;
  margin-right: 40;

  color: #434455;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-li:hover {
  color: #404bbf;
  cursor: pointer;
}
.address-li:focus {
  color: #404bbf;
}

/* ================ HERO ================ */

.hero {
  display: flex;
  margin: auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
}

.hero-tittle {
  margin-bottom: 48px;
  max-width: 496px;

  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  /* background-color: #2e2f42; */
  color: #ffffff;
}

/* ================ SECTIONS ================ */

.section {
  padding: 120px 0;
}

.section-tittle {
  margin-bottom: 72px;

  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.section-subheading {
  margin-bottom: 8px;

  background-color: #ffffff;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================ FEATURES ================ */

.features {
  padding: 120px 0;
}
.features-ul {
  display: flex;
  gap: 24px;
}
.features-ul:last-child {
  padding-left: 0;
}
.features-li {
  flex-basis: calc((100% - 24px * 3) / 4);
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;

  padding: 24px 100px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
}
/* ================ WHAT WE ARE DOING ================ */

.doing-ul {
  display: flex;
  gap: 24px;
}
.doing-li {
  flex-basis: calc((100% - 48px) / 3);
}

/* ================ OUR TEAM ================ */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-li {
  width: calc((100% - 3 * 24px) / 4);
  /* column-gap: 24px; */
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-ul {
  display: flex;
  gap: 24px;
  text-align: center;
}
/* .team-text {
  padding: 32px 0;
} */

.team-social-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-li {
  width: 40px;
  height: 40px;
}
.social-div {
  padding: 32px 0;
}
.social-svg {
  fill: #f4f4fd;
}

.social-link {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}
/* ================ CUSTOMERS ================ */
.customers-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-icon {
  display: flex;
  fill: currentColor;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  color: #8e8f99;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
/* ================ BUTTONS ================ */
.buttons {
  display: block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  cursor: pointer;
  background-color: #f4f4fd;
  color: #4d5ae5;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  text-align: center;

  transition-property: color, border-color, box-shadow, box-shadow,
    background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-btn-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
  border-color: #e7e9fc;
}

.btn-cards {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero {
  display: block;
  margin: 0 auto;
  /* padding: 16px 32px; */
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;

  background: #4d5ae5;
  color: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover {
  cursor: pointer;
  background-color: #404bbf;
}
.btn-hero:focus {
  background-color: #404bbf;
}
.btn-hero:active {
  background-color: #404bbf;
}
/* ================ PORTFOLIO ONLY ================ */
/* .card-text {
  padding: 40px 32px;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  
} */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  transform: translateY(100%);
  transition-property: height;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
  background-color: #4d5ae5;
}
.cards-link:hover .overlay {
  transform: translateY(0%);
  height: 100%;
}
.cards-link:focus .overlay {
  transform: translateY(0%);
  height: 100%;
}
.overlay-div {
  position: relative;
  overflow: hidden;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list.btn-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.cards-div {
  position: relative;
  overflow: hidden;

  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.port-li {
  width: calc((100% - 48px) / 3);
}
.cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ================ FOOTER ================ */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.studio-footer {
  color: #f4f4fd;
}
.link.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  background-color: #2e2f42;
  color: #f4f4fd;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-logo:hover {
  color: #4d5ae5;
}
.footer-logo:focus {
  color: #4d5ae5;
}
.footer-text {
  color: #ffffff;
  width: 264px;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-svg {
  fill: #f4f4fd;
}
.footer-div {
  display: inline-block;
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
  max-width: 1158px;
  margin: auto;
  padding: 0 15px;
}
.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  width: 264px;
  height: 40px;

  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-label {
  /* gap: 24px; */
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  min-width: 165px;
  height: 40px;
}
.footer-icon {
  margin-left: 16px;
}
/* ================ BACKDROP ================ */
.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: fixed;
  opacity: 1;
  visibility: visible;

  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 584px;
  background: rgba(46, 47, 66, 0.4);
}
.backdrop {
  padding: 72px 24px 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 408px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.button-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  position: absolute;
  right: 24px;
  top: 24px;

  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-cross-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-cross:hover {
  border: none;

  background-color: #404bbf;
  fill: #ffffff;
}
.button-cross:focus {
  border: none;

  background-color: #404bbf;
  fill: #ffffff;
}
.modal-tittle {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.modal-wrap-div {
  position: relative;
}
.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill var(--transition);
}
.label-text {
  margin-bottom: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;

  color: #8e8f99;
}
.privacy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.div-different {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
}

.textarea::placeholder {
  margin-bottom: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;

  color: #8e8f99;
}

.textarea:focus {
  outline: transparent;
  outline-offset: 2px;
  border-color: #4d5ae5;
}

.input {
  transition: border-color var(--transition);

  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: #434455;
  font-size: 18px;
  padding-left: 38px;
  margin-bottom: 8px;
  background-color: transparent;

  outline: transparent;
}
.input:focus {
  outline: transparent;
  outline-offset: 2px;
  border-color: #4d5ae5;
}
.input:focus + .modal-svg {
  stroke: #4d5ae5;
  fill: #4d5ae5;
}

.send {
  margin: 24px auto;
  display: flex;
  padding: 16px 32px;
  width: 105px;
  background-color: #4d5ae5;
  color: #ffffff;
}
.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: auto;
}
.form-div {
  margin-bottom: 8px;
}

.user-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
