.text {
  font-size: 16px;
  font-weight: 500;
  color: #434455;
}
.section {
  padding: 120px 0;
}

.section-tittle {
  margin-bottom: 72px;

  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.section-subheading {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;

  background-color: #ffffff;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .section-tittle {
    margin-bottom: 72px;

    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
  }
  .section-subheading {
    margin-bottom: 8px;
    text-align: start;

    background-color: #ffffff;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }

  .text {
    font-size: 16px;
    color: #434455;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
